<h1>Get Organized!</h1>
<h3>Travel Calendar</h3>
<p>
	<strong>Happening Now:</strong>
</p>
<p>
	<strong>Up Next:</strong><br/>
	<% @sorted_activities[0..4].each do |activity| %>
		<div class="panel panel-default">
              <div class="panel-heading"><%= link_to activity.trip.name, activity.trip %> </div>
              <div class="panel-body">
              	<%= link_to (activity.datetime.strftime("%m/%d/%Y at %I:%M%p") + " " + activity.get_name), activity %>
              </div>
            </div>
	<% end %>
</p>


            