<h1>@current_user</h1>
<img src= <%= @current_user.picture %> >
<h2 class='User_Header'> <%=@current_user.username%> Profile <h2>
<p>
    username: <%= @current_user.username %><br/>
    security roles: 
        <ul>
            <% @current_user.roles.each do |role| %>
                <li><%= role.name %></li>
            <% end %>
        </ul>
</p>