<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_agenda_item.name %>
</p>

<%= link_to 'Edit', edit_event_agenda_item_path(@event_agenda_item) %> |
<%= link_to 'Back', event_agenda_items_path %>
