<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock_award_type.name %>
</p>

<%= link_to 'Edit', edit_stock_award_type_path(@stock_award_type) %> |
<%= link_to 'Back', stock_award_types_path %>
