<h2>Inventory</h2>
<%= link_to 'My Inventory Items', my_inventory_path %> <%= link_to 'New Inventory item', new_inventory_item_path %> 
<%= link_to 'Public Item Reviews', public_inventory_item_queues_path %>

<%= render 'inventory_grid' %>

<br>


