<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_detail.name %>
</p>

<%= link_to 'Edit', edit_event_detail_path(@event_detail) %> |
<%= link_to 'Back', event_details_path %>
