<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @security_domain.name %>
</p>

<%= link_to 'Edit', edit_security_domain_path(@security_domain) %> |
<%= link_to 'Back', security_domains_path %>
