<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stock_purchase_type.name %>
</p>

<%= link_to 'Edit', edit_stock_purchase_type_path(@stock_purchase_type) %> |
<%= link_to 'Back', stock_purchase_types_path %>
