// Place all the styles related to the Attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#review{
    background-color: #EEE;
    margin: .5em;
    width: 450px;
    padding: .5em;
}

#reviews{
    float: right;
}