// Place all the styles related to the InventoryItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span img{
	height: 25px;
}


div#item_profile {
    width:400px;
    vertical-align:top;
}

div#item_ownership{
    width:400px;
    vertical-align:top;
}

#item_header div {
    display: inline-block;
}
