// Place all the styles related to the InventoryItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span img{
	height: 25px;
}


div#item_profile {
    width:400px;
    vertical-align:top;
}

div#item_ownership{
    width:400px;
    vertical-align:top;
}

#item_header div {
    display: inline-block;
}

#search_area{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
}

#search_results{
	position: absolute;
	z-index: 5;
}

#header_search_results{
	position: absolute;
	z-index: 5;
}

#inventroy_contents{
	position: relataive;
	z-index: 1;
}

#result_row{
	border: 2px solid #CCC;
	padding: .5em;
	margin-left:20px;
	width:300px;
	margin-bottom:-2px;
	background-color: white;
}

#inventory_category{
	display: inline-block;
	vertical-align: top;
}