// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.day{
	background: -webkit-linear-gradient(white, white, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, white, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, white, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, #EEE); /* Standard syntax (must be last) */
	margin: 1em;
	padding: .5em;
	width: 98%;
}

.time_based{
	display: inline-block;
	vertical-align: top;
}

.pack_items{
	display: inline-block;
	vertical-align: top;
	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	margin-left: 250px;
	width: 200px;
}

.no-time-based{
	margin-left: 1200px;

}

.item{
	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	margin-left: 250px;
	width: 200px;
}

.travel{
	margin-left: 250px;
	z-index: 1;
	position: relative;
}

.lodging{
	margin-left: 480px;
	z-index: 1;
	position: relative;
}

.activity{
	margin-left: 720px;
	z-index: 1;
	position: relative;
}

.travel_header{
	margin-left: 340px;
}

.lodging_header{
	margin-left: 180px;
}

.activity_header{
	margin-left: 160px;
}

.datename{
	position: absolute;
}

.travel_connector{

	background-color:white;
	border-radius:4px;
	padding: .5em;
	padding-top: .75em;
	margin: .5em;
	border: 1px solid black;
	width: 170px;
	margin-left: 265px;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	z-index:0;
}

.lodging_connector{

	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	width: 170px;
	margin-left: 495px;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	z-index:0;
}

.activity_connector{

	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	width: 170px;
	margin-left: 735px;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	z-index:0;
}

td.trips{
	padding: 1em;
}

li.items{
	border: 1px solid #EEE;
	padding: .5em;
	list-style-type:none;
	width: 280px;
	background-color:white;
}

img.pack-item{
	float: right;
}

img.pack-item-single{
	float: right;
	margin-right:0.25em;
}

img.pack-all-items{
	float: right;
}

#pack_list{
	display: inline-block;
	vertical-align: top;
	width:280;
}

#packed_list{
	display: inline-block;
	vertical-align: top;
	width:500;
}

#slide-panel {
    width:350px;
    height:300px;
    padding:10px;
    background:#eee;
    float:right;
    margin-right:-300px;
}
#opener {
    float:left;
    margin:0px 50px 0px -50px;
    border-radius:0;
}