// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.day{
	background: -webkit-linear-gradient(white, white, #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, white, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, white, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, white, #EEE); /* Standard syntax (must be last) */
	margin: 1em;
	padding: .5em;
	width: 98%;
}

.time_based{
	display: inline-block;
	vertical-align: top;
}

.pack_items{
	display: inline-block;
	vertical-align: top;
	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	margin-left: 250px;
	width: 200px;
}

.no-time-based{
	margin-left: 1200px;

}

.item{
	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	margin-left: 250px;
	width: 200px;
}

.travel{
	margin-left: 250px;
	z-index: 1;
	position: relative;
}

.lodging{
	margin-left: 480px;
	z-index: 1;
	position: relative;
}

.activity{
	margin-left: 720px;
	z-index: 1;
	position: relative;
}

.travel_header{
	margin-left: 340px;
}

.lodging_header{
	margin-left: 180px;
}

.activity_header{
	margin-left: 160px;
}

.datename{
	position: absolute;
}

.travel_connector{

	background-color:white;
	border-radius:4px;
	padding: .5em;
	padding-top: .75em;
	margin: .5em;
	border: 1px solid black;
	width: 170px;
	margin-left: 265px;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	z-index:0;
}

.lodging_connector{

	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	width: 170px;
	margin-left: 495px;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	z-index:0;
}

.activity_connector{

	background-color:white;
	border-radius:4px;
	padding: .5em;
	margin: .5em;
	border: 1px solid black;
	width: 170px;
	margin-left: 735px;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	z-index:0;
}

td.trips{
	padding: 1em;
}

li.items{
	border: 1px solid #EEE;
	padding: .5em;
	list-style-type:none;
	background-color:white;
}

img.pack-item{
	float: right;
}

img.pack-item-single{
	float: right;
	margin-right:0.25em;
}

img.pack-all-items{
	float: right;
}

#pack_list{
	display: inline-block;
	vertical-align: top;
	width:280;
}

#packed_list{
	display: inline-block;
	vertical-align: top;
	width:500;
}

#slide-panel {
    width:350px;
    height:800px;
    margin-right:-2em;
    margin-top:70px;
    padding:10px;
    background:#eee;
    float:right;
}

#trip_details{
	float:left;
}

.container-fluid > .sidebar {
    position: absolute;
    right: 20px;
    top: 0;
    width: 220px;
    left: auto;
    margin-top:70px;
    bottom:0;
}

.container-fluid > .content {
    margin-right: 240px;
    margin-left: 0;
}







/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 90%;
    margin-top:-35px;
    margin-left: -250px;
    margin-bottom:5px;
    padding-bottom:10px;
    overflow-y: auto;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    margin-bottom:3em;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}