<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attraction_category.name %>
</p>

<%= link_to 'Edit', edit_attraction_category_path(@attraction_category) %> |
<%= link_to 'Back', attraction_categories_path %>
